<?xml version="1.0" encoding="utf-8"?>
<manifest android:sharedUserId="com.motorola.blur.uid.updater" android:versionCode="8" android:versionName="2.2.2" package="com.motorola.blur.updater"
  xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-sdk android:minSdkVersion="8" android:targetSdkVersion="8" />
    <application android:label="@string/app_name" android:name="com.motorola.blur.util.BlurApp">
        <uses-library android:name="com.motorola.blur.library.utilities" />
        <uses-library android:name="com.motorola.blur.library.service" />
        <activity android:theme="@style/UpdateDialog" android:label="@string/download_title" android:name="DownloadActivity" android:permission="com.motorola.blur.service.blur.Permissions.INTERACT_BLUR_SERVICE" android:excludeFromRecents="true" android:launchMode="singleInstance" android:configChanges="keyboardHidden|orientation" />
        <activity android:theme="@style/UpdateDialog" android:label="@string/install_title" android:name="InstallationActivity" android:permission="com.motorola.blur.service.blur.Permissions.INTERACT_BLUR_SERVICE" android:excludeFromRecents="true" android:launchMode="singleInstance" android:configChanges="keyboardHidden|orientation" />
        <activity android:theme="@style/UpdateDialog" android:label="@string/error_title" android:name="MessageActivity" android:permission="com.motorola.blur.service.blur.Permissions.INTERACT_BLUR_SERVICE" android:excludeFromRecents="true" android:launchMode="singleInstance" android:configChanges="keyboardHidden|orientation" />
        <activity android:theme="@style/UpdateDialog" android:label="@string/update_status_title" android:name="UpdateStatusActivity" android:permission="com.motorola.blur.service.blur.Permissions.INTERACT_BLUR_SERVICE" android:excludeFromRecents="true" android:launchMode="singleInstance" android:configChanges="keyboardHidden|orientation" />
        <receiver android:name="UpdateReceiver" android:permission="com.motorola.blur.service.blur.Permissions.INTERACT_BLUR_SERVICE">
            <intent-filter>
                <action android:name="com.motorola.blur.service.blur.Actions.UPGRADE_UPDATE_NOTIFICATION" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.motorola.blur.service.blur.Actions.UPGRADE_DOWNLOAD_STATUS" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.motorola.blur.service.blur.Actions.MANUAL_CHECK_UPDATE" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.motorola.blur.service.blur.Actions.UPGRADE_UPDATE_STATUS" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.motorola.blur.service.blur.Actions.UPGRADE_UPDATER_STATE_CLEAR" />
            </intent-filter>
        </receiver>
    </application>
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="com.motorola.blur.service.blur.Permissions.INTERACT_BLUR_SERVICE" />
    <uses-permission android:name="android.permission.ACCESS_CHECKIN_PROPERTIES" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
</manifest>
